<nav class="level">
    <p class="level-item has-text-centered">
      <a class="link is-info" routerLinkActive="is-active" routerLink="/">Home</a>
    </p>
    <p class="level-item has-text-centered">
      <a class="link is-info" routerLinkActive="is-active" routerLink="/be-a-donor">Be A Donor</a>
    </p>
    <p class="level-item has-text-centered">
      <img src="assets/logo.png" alt="" style="width: 66px;">
    </p>
    <p class="level-item has-text-centered">
      <a class="link is-info" routerLinkActive="is-active" routerLink="/the-red-list">The Red List</a>
    </p>
    <p class="level-item has-text-centered">
      <a class="link is-info" href="https://morhpt.com">morhpt.com</a>
    </p>
  </nav>
<router-outlet></router-outlet>